In [8]:
import os,sys
import logging, time
from pprint import pprint, pformat
import importlib
from datetime import timedelta, datetime
import pandas as pd
import numpy as np
import plotly.graph_objs as go
import plotly.plotly as py
from plotly import tools, offline
#import cufflinks as cf
#import qgrid

from docs.config import *
from docs.data import *
import app
from app import freqtostr, strtofreq, pertostr
from app.common.timer import Timer
from app.common.utils import utc_datetime as now, utc_dtdate
from app.bnc import *
from app.bnc import analyze, candles, signals, trade, strategy

# Conf
log = logging.getLogger("testing")
pd.set_option("display.max_columns", 25)
pd.set_option("display.width", 2000)
app.set_db(["localhost", "45.79.176.125"][0])
db = app.get_db()


# Init plotly
cred = db.api_keys.find_one({"name":"plotly"})
tools.set_credentials_file(username=cred['plotly_user'], api_key=cred['plotly_api_key'])
offline.init_notebook_mode(connected=True)
#cf.go_offline()

# Generate plot data
freq=300
freq_str='5m'
pair='BTCUSDT'
trade.freq = freq
trade.freq_str = freq_str
trade.init()
dfc = app.bnc.dfc
df = signals.MACD(dfc.loc[pair,freq], 12, 26)

#q_scale = qgrid.show_grid(
#    ts,
#    show_toolbar=True,
#    grid_options={'forceFitColumns': True, 'defaultColumnWidth': 100})


trace_price = go.Scatter(x=df.index,y=df['close'])
trace_macd_diff = go.Scatter(x=df.index, y=df['MACDdiff_12_26'])
#trace_sellvol = go.Scatter(x=ts.index,y=ts['sell_vol'])
#trace_pdiff = go.Scatter(x=ts.index,y=ts['pdiff'])

fig = tools.make_subplots(
    rows=2, cols=1,
    specs=[ [{}], [{}] ],
    shared_xaxes=True, shared_yaxes=True,
    vertical_spacing=0.001)
fig.append_trace(trace_price, 1, 1)
fig.append_trace(trace_macd_diff, 2, 1)
#fig.append_trace(trace_buyvol, 3, 1)
#fig.append_trace(trace_sellvol, 4, 1)

fig['layout'].update(title='BTC w/ MACD')

py.iplot(fig)

This is the format of your plot grid:
[ (1,1) x1,y1 ]
[ (2,1) x1,y2 ]

In [11]:
df['MACDdiff_12_26'].iloc[-1]

-10.341481065449273

In [10]:
dfc

                                       open     close   trades        volume  buy_ratio
pair    freq  open_time
BNBUSDT 60    2018-03-31 05:56:00   10.3175   10.3134     60.0    1839.71000     0.4618
              2018-03-31 05:57:00   10.2920   10.3200     72.0    1668.17000     0.8343
              2018-03-31 05:58:00   10.3200   10.3569     66.0    1153.49000     0.8615
              2018-03-31 05:59:00   10.3592   10.3287     45.0     891.48000     0.3089
              2018-03-31 06:00:00   10.3483   10.3600     63.0    2352.43000     0.5887
              2018-03-31 06:01:00   10.3602   10.3400     50.0    1113.24000     0.0086
              2018-03-31 06:02:00   10.3479   10.3335     17.0     504.08000     0.0973
              2018-03-31 06:03:00   10.3335   10.3111     37.0     764.36000     0.1961
              2018-03-31 06:04:00   10.3114   10.3424     27.0    1552.09000     0.9209
              2018-03-31 06:05:00   10.3248   10.3240     16.0     380.35000     0.0913
              2018-03-31 06:06:00   10.3320   10.3397     36.0    1412.56000     0.5623
              2018-03-31 06:07:00   10.3207   10.3207     10.0     139.67000     0.0231
              2018-03-31 06:08:00   10.3207   10.2987    112.0    2625.03000     0.1351
              2018-03-31 06:09:00   10.2903   10.2703     29.0     297.48000     0.1577
              2018-03-31 06:10:00   10.2793   10.2900     35.0    1322.17000     0.9317
              2018-03-31 06:11:00   10.2899   10.3036     46.0    5223.25000     0.8667
              2018-03-31 06:12:00   10.3036   10.3500    137.0    3120.72000     0.8400
              2018-03-31 06:13:00   10.3477   10.3205     28.0     917.56000     0.6997
              2018-03-31 06:14:00   10.3204   10.3263     14.0      82.10000     0.5671
              2018-03-31 06:15:00   10.3209   10.3450     40.0    2037.34000     0.5547
              2018-03-31 06:16:00   10.3450   10.3291     53.0    1445.15000     0.3080
              2018-03-31 06:17:00   10.3287   10.3295     16.0     114.69000     0.6440
              2018-03-31 06:18:00   10.3294   10.4010     61.0    1252.78000     0.9947
              2018-03-31 06:19:00   10.4010   10.3771     34.0     472.87000     0.5329
              2018-03-31 06:20:00   10.3771   10.3796     36.0     783.51000     0.3832
              2018-03-31 06:21:00   10.3801   10.3968     56.0    3703.89000     0.6243
              2018-03-31 06:22:00   10.3750   10.3971     21.0     813.12000     0.6577
              2018-03-31 06:23:00   10.3971   10.3900     58.0    3353.11000     0.0804
              2018-03-31 06:24:00   10.3896   10.3820     28.0     473.32000     0.3561
              2018-03-31 06:25:00   10.3997   10.4196     31.0     745.03000     0.8035
...                                     ...       ...      ...           ...        ...
LTCUSDT 3600  2018-03-31 06:00:00  118.9100  116.7500   1707.0    4860.85978     0.3865
              2018-03-31 07:00:00  117.0300  117.0700    908.0    2394.87564     0.4526
              2018-03-31 08:00:00  117.4000  118.3400   1543.0    4606.92853     0.4996
              2018-03-31 09:00:00  118.3400  120.1700   1254.0    3755.66151     0.5977
              2018-03-31 10:00:00  120.1700  120.3300   2677.0    8937.41539     0.5103
              2018-03-31 11:00:00  120.3500  119.8800   1467.0    5704.58921     0.4959
              2018-03-31 12:00:00  119.7600  121.5900   1791.0    6201.37835     0.4795
              2018-03-31 13:00:00  121.5700  119.4500   1291.0    3957.13861     0.4244
              2018-03-31 14:00:00  119.5600  120.6000   1370.0    4228.01188     0.6056
              2018-03-31 15:00:00  120.6000  120.1800   1003.0    3492.13716     0.4230
              2018-03-31 16:00:00  120.1400  121.1200   1093.0    3918.46557     0.5629
              2018-03-31 17:00:00  121.1200  120.5500   1085.0    4899.77356     0.4762
              2018-03-31 18:00:00  120.3900  119.2400    905.0    2903.20039     0.4012
              2018-03-31 19:00:00  119.2400  119.3700   1056.0    3769.47556     0.4906
              2018-03-31 20:00:00  119.3700  117.0000   2621.0    8656.94043     0.5437
              2018-03-31 21:00:00  117.1400  116.5400   1438.0    4864.31633     0.4686
              2018-03-31 22:00:00  116.5400  116.5900    706.0    1746.86369     0.6445
              2018-03-31 23:00:00  116.4800  116.0500   1215.0    4769.83953     0.5270
              2018-04-01 00:00:00  116.0500  116.7200    996.0    2632.71272     0.5334
              2018-04-01 01:00:00  116.6800  117.3400    676.0    1981.47635     0.4263
              2018-04-01 02:00:00  117.3700  116.3200    933.0    2383.69477     0.4249
              2018-04-01 03:00:00  116.1300  116.3400    625.0    1139.95224     0.4078
              2018-04-01 04:00:00  116.1300  116.3800    619.0    2021.92421     0.6561
              2018-04-01 05:00:00  116.5300  115.4000   1060.0    2734.26360     0.4621
              2018-04-01 06:00:00  115.5700  114.0400   1172.0    3086.68765     0.5013
        86400 2018-03-27 00:00:00  147.7100  135.0000  35412.0  103463.38910     0.4625
              2018-03-28 00:00:00  135.0000  131.2200  27705.0   83839.85944     0.4744
              2018-03-29 00:00:00  131.3100  114.7000  53948.0  187392.76989     0.4688
              2018-03-30 00:00:00  114.5500  118.3500  69432.0  252079.14240     0.4998
              2018-03-31 00:00:00  118.1000  116.0500  37066.0  128237.78840     0.4939

[9676 rows x 5 columns]